body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  min-height: 90vh;
}
.App{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
 }
 

 .card{
  width: 200px;
  height: 200px;
  padding: 6px;
  margin: 0 auto;
  background-color: rgb(3, 88, 195);
  color:  white;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 1px 1px 1px 1px black;
  button{
    &:hover{
       opacity: .7;
    }
  }
 }
 .card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 1rem; 
}
.button-container{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
button{
  border-radius: 8px;
   padding: .5rem;
}
 .heading, .description{
    color:rgb(3, 88, 195);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
.input{
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.5rem;
input{
  padding: .5rem;
  border-radius: .5rem;
  
}
button{
  background-color: rgb(3, 88, 195);
  color: #fff;
  font-weight: bold;
  width: 20%;
  &:hover{
    cursor: pointer;
  }
}
}
.nav-button{
  min-height:50px;
   
  display: flex;
  padding: .7rem;
  border-radius: .5rem;
  flex-wrap: wrap;
  width: calc(100% / 3);
  align-items: center;
  justify-content: center;
  min-width: 100%;
  gap: 1rem;
   border-bottom: 3px solid #ccc;
   /* rgb(65, 224, 253); */
    /* rgb(218, 35, 140); */
  button{
    background-color: rgb(113, 44, 249);
    color: #fff;
    
    cursor: pointer;
    &:hover{
       opacity: .7;
    }
  }
}
.responsive{
   width: 100%;
   height: auto;
}
 
@media screen and (max-width: 500px) {
  .nav-container {
    display: flex;
    flex-wrap: wrap;
  }
  }

@media screen and (min-width: 800px) {
  .input input {
    width: 30% ;
  }
  
}
@media screen and (min-width: 400px) {
  .input input {
    width: 30% ;
  }
  
}